openapi: 3.2.0
info:
  title: Ortto Activities API
  description: REST API for Ortto (formerly Autopilot), a marketing automation, customer data platform (CDP), and analytics product.
  termsOfService: https://ortto.com/terms-of-service/
  contact:
    name: Ortto Support
    url: https://help.ortto.com/
  version: '1.0'
servers:
- url: https://api.ap3api.com/v1
  description: Default service endpoint
- url: https://api.au.ap3api.com/v1
  description: Australia service endpoint
- url: https://api.eu.ap3api.com/v1
  description: Europe service endpoint
security:
- ApiKeyAuth: []
tags:
- name: Activities
  description: Send custom activity events and manage activity definitions.
paths:
  /activities/create:
    post:
      operationId: createActivities
      tags:
      - Activities
      summary: Create one or more custom activity events
      description: Sends up to 100 custom activity events in a single payload (max 2 MB). Each activity references a custom activity definition and may create or update the associated person via merge_by or person_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivitiesCreateRequest'
      responses:
        '200':
          description: Activities accepted.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ActivitiesCreateRequest:
      type: object
      required:
      - activities
      properties:
        activities:
          type: array
          maxItems: 100
          items:
            type: object
            properties:
              activity_id:
                type: string
              person_id:
                type: string
              attributes:
                type: object
                additionalProperties: true
              fields:
                type: object
                additionalProperties: true
              location:
                type: object
                additionalProperties: true
        merge_by:
          type: array
          items:
            type: string
    Error:
      type: object
      properties:
        status:
          type: string
        error:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Custom private API key configured in Ortto under Settings, supplied on every request in the X-Api-Key header.
