openapi: 3.0.1
info:
  title: Ortto Accounts Campaigns API
  description: REST API for Ortto (formerly Autopilot), a marketing automation, customer data platform (CDP), and analytics product. The API lets applications create and update people/contacts and accounts, send custom activity events, manage tags, retrieve campaign and asset reports, and send transactional email and SMS. Every request is authenticated with a custom API key supplied in the X-Api-Key header. The default service endpoint is https://api.ap3api.com/v1; customers in Australia or Europe use https://api.au.ap3api.com/v1 or https://api.eu.ap3api.com/v1 respectively.
  termsOfService: https://ortto.com/terms-of-service/
  contact:
    name: Ortto Support
    url: https://help.ortto.com/
  version: '1.0'
servers:
- url: https://api.ap3api.com/v1
  description: Default service endpoint
- url: https://api.au.ap3api.com/v1
  description: Australia service endpoint
- url: https://api.eu.ap3api.com/v1
  description: Europe service endpoint
security:
- ApiKeyAuth: []
tags:
- name: Campaigns
  description: Retrieve campaigns, reports, and assets.
paths:
  /campaign/calendar:
    post:
      operationId: getCampaignCalendar
      tags:
      - Campaigns
      summary: Retrieve campaigns by time period
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: Campaign type, e.g. journey.
                state:
                  type: string
                folder_id:
                  type: string
                q:
                  type: string
                sort_order:
                  type: string
                limit:
                  type: integer
      responses:
        '200':
          description: Matching campaigns.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /campaign/reports/get:
    post:
      operationId: getCampaignReport
      tags:
      - Campaigns
      summary: Retrieve a campaign or asset report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaign_id:
                  type: string
                asset_id:
                  type: string
      responses:
        '200':
          description: Campaign or asset report.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        status:
          type: string
        error:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Custom private API key configured in Ortto under Settings, supplied on every request in the X-Api-Key header.
