openapi: 3.2.0
info:
  title: Ortto Tags API
  description: REST API for Ortto (formerly Autopilot), a marketing automation, customer data platform (CDP), and analytics product.
  termsOfService: https://ortto.com/terms-of-service/
  contact:
    name: Ortto Support
    url: https://help.ortto.com/
  version: '1.0'
servers:
- url: https://api.ap3api.com/v1
  description: Default service endpoint
- url: https://api.au.ap3api.com/v1
  description: Australia service endpoint
- url: https://api.eu.ap3api.com/v1
  description: Europe service endpoint
security:
- ApiKeyAuth: []
tags:
- name: Tags
  description: Retrieve account tags.
paths:
  /tags/get:
    post:
      operationId: getTags
      tags:
      - Tags
      summary: Retrieve a list of tags
      description: Retrieves the tags configured on the account. An empty body returns all tags; an optional search term filters the result.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: Optional search term to filter tags.
      responses:
        '200':
          description: List of tags.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        status:
          type: string
        error:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Custom private API key configured in Ortto under Settings, supplied on every request in the X-Api-Key header.
